@use "../../sass/abstract/mixins.scss" as *;
@use "../../sass/abstract/variables.scss" as *;

.list-product {
  &__container {
    padding: 0 $mobile-spacing-side;
  }

  &__card {
    @include card-style;
    background-color: white;
  }

  &__title {
    margin: 0;
  }
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  &__divider {
    border-bottom: 1px solid grey;
    margin: 0.75rem 0;
  }
}
