@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.product-page {
  &__container {
    padding: 0 $mobile-spacing-side;
  }
}

.product-info {
  &__img-card {
    //product image card
    @include card-style;
    background-color: white;
    padding: 0.5rem;

    &__img {
      margin: 0 auto;
    }

    &--select {
      width: 4rem;
    }
  }

  &__img-list {
    display: flex;
    justify-content: space-between;
  }

  &__description {
    //description card
    @include card-style;
    background-color: white;
    padding: 0 1rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
  }

  &__container {
  }

  &__name {
    margin: 0;
  }
}

.shops-card {
  border-radius: 1rem;
  background-color: $primary;
  padding: 0.5rem;

  &__title {
    margin: 0 0 0.5rem 0.5rem;
    font-weight: 500;
  }

  &__list {
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

.map {
  &__card {
    @include card-style;
    background-color: white;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 1rem;
    width: 100%;
    height: 25rem;
  }

  &__pin {
    height: 1rem;
    width: 1rem;
  }
}
