@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.shop-card {
  @include card-style;
  background-color: white;
  padding: 0.25rem;
  display: flex;
  justify-content: space-between;
  height: 6rem;
  align-items: center;

  &__link {
    display: flex;
  }

  &__logo {
    width: 4rem;
    object-fit: contain;
  }

  &__info-container {
    color: black;
    text-decoration: none;
  }

  &__name {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 1rem;
  }

  &__fav-btn {
    max-width: 2rem;
    height: 2rem;
  }

  &__product_name {
  }
}
