@use "../../sass/abstract/variables.scss" as *;
.product-card {
  list-style: none;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    // height: 5rem;
    // border: 1px solid black;
    background-color: $card-colour;
    border-radius: 0.5rem;
    padding: 0.5rem;
  }

  &__image {
    width: 4rem;
  }

  &__divider {
    width: 100%;
    margin: 0.5rem;
    border-bottom: 1px solid #e5d5a7;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}
