@use "../../sass/abstract/mixins.scss" as *;
@use "../../sass/abstract/variables.scss" as *;

.manage-listing {
  padding: 0 $mobile-spacing-side;

  &__card {
    background-color: white;
    @include card-style;
  }

  &__title {
    margin: 0;
    font-weight: 500;
  }

  &__list {
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    color: black;
  }

  &__product-card {
    @include card-style;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__product-image {
    width: 5rem;
  }

  &__product-name {
    margin: 0;
  }

  &__delete {
    width: 1rem;
  }
}
