@use "../../sass/abstract/variables.scss" as *;

.header {
  background-color: white;
  border-radius: 1rem;
  position: fixed;
  top: 0;
  align-items: start;
  margin: 1rem;
  width: calc(100% - ($mobile-spacing-side * 2));
  box-shadow: $card-shadow;

  &__container {
    //header card
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }

  &__title {
    margin: 0;
  }

  &__search-btn {
    background: none;
    border: none;
    width: 3rem;
    height: 3rem;
  }

  &__search-icon {
    fill: white;
  }

  &__search-icon {
    height: 2.25rem;
    width: 2.25rem;
    object-fit: fill;
  }

  &__divider {
    border-bottom: 1px solid #f1f1f1;
  }
}
