@use "../../sass/abstract/variables.scss" as *;

.header {
  &__logo-container {
    display: flex;
    align-items: center;
  }

  &__logo {
    width: 2rem;
    height: 2rem;
    margin: 0.5rem;
  }

  &__title {
    margin: 0;
  }

  &__form {
    display: flex;
    align-items: center;
  }

  &__search-button {
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    background-color: $accent;
    // background-image: url("../../assets/icons/search_FILL0_wght400_GRAD0_opsz24.svg");
  }

  &__search-icon {
    fill: white;
  }

  &__divider {
    border-bottom: 1px solid #f1f1f1;
  }
}
