@use "../../sass/abstract/variables.scss" as *;
@use "../../sass/abstract/mixins.scss" as *;

.deal-card {
  @include card-style;
  padding: 0.5rem;
  height: 6rem;
  width: 40vw;
  color: black;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 0.5rem;
    gap: 0.5rem;
    max-height: 4rem;
  }

  &__image {
    width: 3rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__product-name {
    text-decoration: none;
    font-size: 0.75rem;
    overflow: hidden;
  }

  &__price {
    text-decoration: none;
    font-size: 0.75rem;
  }
}
