// device width
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colours
$text: #141105;
$background: #fdfcf7;
$primary: #fed12c;
$secondary: #ebdeb2;
$accent: #2c46a5;
$background-colour: #fbf8ef;

$card-colour: #f9f7ea;

// spacing
$mobile-spacing-side: 1rem;

// global showdows
$card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
