// device width
$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

// colours
$text: #141105;
$background: #f5eed6;
$primary: #fed12c;
$secondary: #c5edba;
$accent: #49ae2d;

// spacing
$mobile-spacing-side: 1rem;
